<div mat-dialog-title>
    <h1> Film Form </h1>
</div>

<form [formGroup]="filmForm" (ngSubmit)="onFormSubmit()">


<div mat-dialog-content class="content">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Nom du Film</mat-label>
      <input matInput type="text" placeholder="" formControlName="nomFilm">
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Date de sortie</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label> Affiche Film </mat-label>
      <input matInput formControlName="affiche">
    </mat-form-field>
  </div>
</div>


<mat-form-field appearance="outline">
  <mat-label>Realisateur</mat-label>
  <mat-select formControlName="realisateur">
    <mat-option *ngFor="let realisateur of realisateurs" [value]="realisateur.id">
      {{ realisateur.nom }}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-form-field>
  <mat-label>Categorie</mat-label>
  <mat-select formControlName="categorie">
    <mat-option *ngFor="let categorie of categories" [value]="categorie.id">
      {{ categorie.nom }}
    </mat-option>
  </mat-select>
</mat-form-field>



<div mat-dialog-actions class="action">
    <button mat-raised-button> Cancel </button>
    <button mat-raised-button color="primary" tyoe="submit"> Valider </button>
</div>


</form>
